*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
  font-size: 62.5%;
}

/* ///////////////////////
fontFamilyの設定
/////////////////////// */

body {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo,
    sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

/* ///////////////////////
fontの各種margin/paddingの設定
/////////////////////// */

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  line-height: 1;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}
